
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* shared style */
body {
    font-family: "Raleway", sans-serif;
    margin: 0;
}


/* btn */
button {
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
button:hover {
    background-color: #4d47ffdc;
    border: 2px solid #4E47FF;
}
.btn-card {
    display: block;
}
.btn-card a {
    font-size: 16px;
}

.banner {
    text-align: center;
    padding-bottom: 20px;
}


/* header */
header {
    background-image: url(../assets/Hero-bg.png);
    padding-top: 50px;
}
nav {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-tittle {
    color: #4E47FF;
    font-size: 34px;
}
/* Banner */

 .banner  {
    max-width: 1140px;
    align-items: center;
    margin: 0px 260px;
}
.banner h1 {
    font-size: 60px;
}
.banner-btn {
    padding-bottom: 50px;
}

/* action-section */

.action-section {
    margin: 80px 150px;
}

.action-items {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.action-img img {
    height: 300px;
    width: 350px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.action-item {
 width: 517px;
 height: 203px;

}

.action-item h3 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 5px;
}
.action-item p {
    color: #25243289;
    margin-right: 80px;
}

         /* user-section */
.user-section {
    
}

.user-items {
    background-color: #4d47ff37;
    margin: 100px 159px;
    padding:  60px 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.user-items h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.user-item {
    display: flex;
    justify-content: space-around;
}
.user-item span {
    font-size: 70px;
    font-weight: bold;
    color: #4E47FF;
}
.user-item p {
    font-size: 20px;
    color: #0000007c;
}
